src/main/resources/data/errors.rnc

default namespace = ""

start =
  element messages {
    element severities {
      element severity {
        attribute id { xsd:ID },
        text
      }+
    },
    element errorCodes {
      element message {
        attribute code { xsd:ID },
        attribute severity { xsd:IDREF },
        text
      }+
    }
  }
